.process-header-background
    background-image url('/utveckling/assets/img/processus_background.png')
    
.head-intro-section
    background-repeat no-repeat
    background-attachment fixed
    background-position center
    width 100wh
    height 100vh
    line-height 100vh
    
    .header
        height 10vh
        line-height 10vh
        
        .logo
            padding 0 0 0 90px
            vertical-align middle
            
        .menu-button
            line-height 10vh
            float right
            
            .clearboth
                clear both
                
            img
                padding 0 90px 0 0
                vertical-align middle
    .head-intro
        width 100wh
        height 90vh
        text-align center
        font-weight 900
        line-height 100vh
        
        .wrapper
            display inline-block
            width 100%
            vertical-align middle
            line-height 1px
        
            h1
                color white
                font-size 40px
                font-weight 900
                display inline-block
                width 100%
                vertical-align middle
                line-height 60px

                strong
                    font-weight 700
                    font-size 30px
            
            .processus-description-header
                font-size 27px
                line-height 46px
                font-style left
                color #fefefe
                
            .under-title
                color #A899B7
                margin-top 40px
                font-size 18px
                font-weight 700
                line-height 27px
                vertical-align middle
                display inline-block
                width 58.33%


            .intro-actions
                display block

                .button-savoir-plus-intro
                    display inline-block
                    text-align center
                    padding 15px 20px 12px 20px
                    margin 40px auto
                    background-color #A899B7
                    border none
                    
                    color #ffffff
                    text-decoration none
                    font-size 12px
                    line-height 18px
                    font-weight 700
                    vertical-align middle

                .button-contacter-intro
                    display inline-block
                    text-align center
                    padding 15px 20px 12px 20px
                    margin 40px auto
                    margin-right 20px
                    background-color none
                    border 1px solid #A899B7
                    color #ffffff
                    text-decoration none
                    font-size 12px
                    line-height 18px
                    font-weight 700
                    vertical-align middle