    .button-savoir-plus
            display block
            width 150px
            text-align center
            padding 10px 20px 10px 20px
            margin 40px auto
            background-color #A899B7
            border none
            border-radius 4px
            color #ffffff
            text-decoration none
            font-size 12px
            font-weight 700
            
    .home-intro-section
        background-image url('/utveckling/assets/img/home_background.jpg')
        background-repeat no-repeat
        background-attachment fixed
        background-position center
        width 100wh
        height 100vh
        
        .header
            height 10vh
            line-height 10vh
            
            .logo
                padding 0 0 0 90px
                vertical-align middle
                
            .menu-button
                line-height 10vh
                float right
                
                .clearboth
                    clear both
                    
                img
                    padding 0 90px 0 0
                    vertical-align middle
                    
        .page-intro
            width 100wh
            height 90vh
            text-align center
            padding-top 20vh
            
            h1
                color white
                font-size 24px
                font-weight 300
                
                strong
                    font-weight 700
                    font-size 30px
                
            .tags
                color #A899B7
                margin-top 40px
                font-size 18px
                font-weight 700
                
            .intro-actions
                display block
                
                .button-savoir-plus-intro
                    display inline-block
                    width 150px
                    text-align center
                    padding 10px 20px 10px 20px
                    margin 40px auto
                    background-color #A899B7
                    border none
                    border-radius 4px
                    color #ffffff
                    text-decoration none
                    font-size 12px
                    font-weight 700
                
                .button-contacter-intro
                    display inline-block
                    width 150px
                    text-align center
                    padding 10px 20px 10px 20px
                    margin 40px auto
                    margin-right 20px
                    background-color none
                    border 1px solid #A899B7
                    border-radius 4px
                    color #ffffff
                    text-decoration none
                    font-size 12px
                    font-weight 700
                    
    .home-services
        display block
        width 100wh
        background-color #fefefe
        text-align center
        
        h2
            font-size 30px
            font-weight 900
            color #2D3049
            padding 50px 0
            
        .service-description
            display inline-block
            vertical-align top
            width 300px
            padding 0 15px
            margin-bottom 20px
            
            h3
                color #A899B7
                margin 10px 0
                font-weight 700
                
            p
                text-align center
                padding 0 15px
                font-size 12px
    
    .home-tools
        text-align center
        
        h2
            font-size 30px
            font-weight 900
            color #2D3049
            padding 50px 0
            
    .tools-description
        display inline-block
        vertical-align top
        width 300px
        padding 0 15px
        margin-bottom 20px

        img
            width 75px
            height 75px

    .home-processus
        display block
        background-color #2D3049
        width 100wh
        height 400px
        text-align center
        
        h2
            font-size 30px
            font-weight 900
            color #ffffff
            padding 50px 0
            
    .home-projets
        display block
        background-color #ffffff
        text-align center
        font-size 0
        
        h2
            font-size 30px
            font-weight 900
            color #2D3049
            padding 50px 0
            
        .project-block
            display inline-block
            width 50%
            background #F7F7F9
            margin 0 auto
            vertical-align top
            
            img
                width 100%
                height auto
                
    .home-apropos
        display block
        background-color #ffffff
        height 400px
        text-align center
        font-size 0
        
        h2
            font-size 30px
            font-weight 900
            color #2D3049
            padding 50px 0
            
        p
            text-align center
            font-size 14px
            color #000000
            width 80%
            margin 0 auto