$keyframe-name = hide-menu
@keyframes {$keyframe-name}
    from
        transform translateX(0%)
    to
        transform translateX(100%)
        
//$hide-menu-container = hide-menu-container
//@keyframes {$hide-menu-container}
//    from
//        visibility visible
//    to
//        visibility hidden

ul-firstchild()
    &:first-child
        padding 0 0 0 0
        
.hidden
    visibility hidden
    
.show
    visibility visible

.menu-container
    display block
    position fixed
    width 100%
    height 100vh
    background-color rgba(45, 48, 73, 0.8)
    z-index 1
    opacity 0
    transition all 0.6s ease-in
    
    .menu
        display inline-block
        width 700px
        height 100vh
        background-color #FEFEFE
        margin-left 100%
        transform translateX(0)
        opacity 0
        transition all 0.6s ease-in 0.6s
        line-height 100vh
        font-size 0
        text-align left
        vertical-align top
        
        .menu-animation
            width 300px
            height 100vh
            display inline-block
            background-color #A899B7
            text-align center
            vertical-align top
            padding 0 100px
        
        .menu-ul-container
            width 400px
            height 100vh
            display inline-block
            background-color #FEFEFE
            text-align center
            line-height 100vh
            vertical-align middle
        
        .menu-list
            display inline-block
            margin 0 auto
            color #2D3049
            vertical-align middle
            transform translateY(0%)
            transition transform 0.5s ease-in 0.4s
            
            li
                display block
                width 100%
                padding-top 30px
                font-size 24px
                line-height 36px
                font-weight 900
                text-align right
                ul-firstchild()
                
                a
                    display block
                    text-decoration none
                    padding-top 3Opx
                    //display block
                    
.close
    position absolute
    right 0
    margin-right 40px
    margin-top 40px
    top 0
    
.animation-menu
    //transform translateX(100%)
    animation hide-menu 0.4s linear 0s 1
    
    