$keyframe-name = hide-menu
@keyframes {$keyframe-name}
    from
        transform translateX(0%)
    to
        transform translateX(100%)
        
//$hide-menu-container = hide-menu-container
//@keyframes {$hide-menu-container}
//    from
//        visibility visible
//    to
//        visibility hidden
        
.hidden
    visibility hidden
    
.show
    visibility visible

.menu-container
    display block
    position fixed
    width 100%
    height 100vh
    background-color rgba(45, 48, 73, 0.8)
    z-index 1
    opacity 0
    transition all 0.6s ease-in
    
    .menu
        display inline-block
        width 50%
        height 100vh
        background-color #A899B7
        margin-left 50%
        transform translateX(100%)
        opacity 0
        transition all 0.6s ease-in 0.6s
        
        ul
            display block
            width 440px
            height 510px
            margin 0 auto
            background-position left bottom
            background-image url('/utveckling/assets/img/background_menu.png')
            color white
            transform translateY(-100%)
            transition transform 0.5s ease-in 0.4s
            
            li
                padding 30px 0 0 40px
                font-weight 900
                
                a
                    text-decoration none
                    
.close
    position absolute
    right 0
    margin-right 40px
    margin-top 40px
    top 0
    
.animation-menu
    //transform translateX(100%)
    animation hide-menu 0.4s linear 0s 1
    
    