under-border()
    &:after
            content ''
            position absolute
            width 85px
            height 3px
            background #373A52
            transform translateX(0) translateY(90px)
            
under-border-2()
    &:after
            content ''
            position absolute
            width 85px
            height 3px
            background #373A52
            transform translateX(-165px) translateY(90px)

.analysis
    height 80vh
    
    .section-number
        margin-left 8.33%
        margin-top 150px
        font-size 65px
        font-weight 900
        color #373A52
        under-border()
        
        
    h2
        display inline-block
        vertical-align middle
        font-size 24px
        line-height 30px
        font-weight 900
        color #2D3049
        padding-bottom 24px
        margin-top 100px
        
    .content-process-1
        width 600px
        position relative
        z-index 2
        display inline-block
        left 0
        padding-left 16.66%
        
        .filigrane-1
            position absolute
            z-index 1
            font-size 134px
            opacity 0.1
            font-weight 900
            color rgba(55, 58, 82, 0.42)
            top 180px
            left 300px

    p
        width 600px
        position relative
        z-index 2
        display inline-block
        left 0
        font-size 18px
        line-height 27px
        
    .section-number-right
        margin-left 83.33%
        margin-top 150px
        font-size 65px
        font-weight 900
        color #373A52
        under-border-2()
    
    .content-process-2
        width 600px
        position relative
        z-index 2
        display inline-block
        left 0
        padding-left 16.66%
        
        .filigrane-2
            position absolute
            display inline-block
            z-index 1
            font-size 134px
            opacity 0.1
            font-weight 900
            color rgba(55, 58, 82, 0.42)
            top 180px
            left 300px
            
.button-contact-process
            display block
            width 150px
            text-align center
            padding 15px 20px 12px 20px
            margin 0 auto 50px auto
            background-color #A899B7
            color #FFFFFF
            text-decoration none
            font-size 12px
            font-weight 700
            line-height 18px