.services-dev
    background-color #ffffff
    height 500px
    line-height 500px
    
    .center
        display inline-block
        width 100%
        vertical-align middle
        line-height 1px
    
    h2
        display inline-block
        width 100%
        vertical-align middle
        font-size 24px
        line-height 30px
        font-weight 900
        color #2D3049
        padding-bottom 24px
        
    .services-description
        display inline-block
        width 100%
        vertical-align middle
        font-size 12px
        line-height 18px
        padding-bottom 20px
    
    ul
        display inline-block
        width 100%
        vertical-align middle
        margin-bottom 20px
        line-height 15px
        
    .tags
        display inline-block
        vertical-align middle
        font-size 10px
        color #A899B7
        font-weight 900
        line-height 15px
        
    .button
        display inline-block
        vertical-align middle
        width 150px
        text-align center
        padding 15px 20px 12px 20px
        margin 0
        background-color #A899B7
        color #FFFFFF
        text-decoration none
        font-size 12px
        font-weight 700
        line-height 18px
        
.service-illustration
    background-image url('/utveckling/assets/img/services_img.jpg')
    height 500px
        
.text
    display table-cell
    height 200px
    background-color red
    padding 50px 20px
    margin 0 20px
    vertical-align middle
    
.button-contacter-intro
                    display inline-block
                    width 150px
                    text-align center
                    padding 10px 20px 10px 20px
                    margin 40px auto
                    margin-right 20px
                    background-color none
                    border 1px solid #A899B7
                    border-radius 4px
                    color #A899B7
                    text-decoration none
                    font-size 12px
                    font-weight 700
                    
.services-intro-section
    background-image url('/utveckling/assets/img/services_intro_img.png')
    background-repeat no-repeat
    background-attachment fixed
    background-position center
    width 100wh
    height 100vh
    
    .header
        height 10vh
        line-height 10vh
        
        .logo
            padding 0 0 0 90px
            vertical-align middle
            
        .menu-button
            line-height 10vh
            float right
            
            .clearboth
                clear both
                
            img
                padding 0 90px 0 0
                vertical-align middle
    .services-intro
        width 100wh
        height 90vh
        text-align center
        padding-top 20vh
        font-weight 900
        
        h1
            color white
            font-size 40px
            font-weight 300
            
            strong
                font-weight 700
                font-size 30px
                
        .tags
            color #A899B7
            margin-top 40px
            font-size 18px
            font-weight 700
            
        .intro-actions
            display block
            
            .button-savoir-plus-intro
                display inline-block
                width 150px
                text-align center
                padding 10px 20px 10px 20px
                margin 40px auto
                background-color #A899B7
                border none
                border-radius 4px
                color #ffffff
                text-decoration none
                font-size 12px
                font-weight 700
                
            .button-contacter-intro
                display inline-block
                width 150px
                text-align center
                padding 10px 20px 10px 20px
                margin 40px auto
                margin-right 20px
                background-color none
                border 1px solid #A899B7
                border-radius 4px
                color #ffffff
                text-decoration none
                font-size 12px
                font-weight 700